<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.MainMapper">


    <select id="getRoleByNo" resultType="com.bean.Roles">
        SELECT * FROM ROLES WHERE room_ID = #{room_id} and player_number = #{player_number}
    </select>

    <delete id="deleteRoles" parameterType="int" >
        delete from Roles where room_id = #{room_id}
    </delete>

    <insert id="insertRoles" parameterType="com.bean.Roles" >
        insert into Roles (room_id,player_number,role,state_1,state_2)
        values (#{room_id},#{player_number},#{role},'Y','Y')
    </insert>

    <resultMap id="roles" type="com.bean.Roles"><!-- Chat 是在mybatisConfig.xml中定义的别名(全限定包名在 mybatisConfig.xml中配置了)-->

        <result property="player_number" column="player_number"/>
        <result property="content" column="content"/>
        <result property=""/>
    </resultMap>

</mapper>