<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.MainMapper">


    <select id="getRoleByNo" resultType="com.bean.Roles">
        SELECT * FROM ROLES WHERE room_ID = #{roomId} and player_number = #{player_number}
    </select>

    <delete id="deleteRoles" parameterType="int" >
        delete from Roles where room_id = #{roomId}
    </delete>

    <insert id="insertRoles" parameterType="com.bean.Roles" >
        insert into Roles (room_id,player_number,role,state_1,state_2)
        values (#{roomId},#{playerNumber},#{role},'Y','Y')
    </insert>


</mapper>